.note-form {
  padding: 1.5rem;
  margin-bottom: 2rem;
      display: flex;
    flex-direction: column;

  display: grid;
  gap: 12px;
  margin-bottom: 30px;

  max-width: 1100px;
  padding: 30px;
  padding-top: 0px;
}

.note-form__field {
  width: 100%;
  display: flex;
}

.note-form__title {
  font-weight: 600;
  margin-bottom: 1rem;
}

.note-form input,
.note-form textarea,
.note-form select {
  border-radius: 6px;
}

.btn {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  color: var(--text-button);
}

.btn.btn-primary {
  background: var(--primary);
  color: var(--text-button);
  width: 100%;
}

.form input,
.form textarea,
.form select {
  padding: 10px;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  background: var(--card);
  color: var(--text);
  width: 100%;
}

.form select {
  padding: 10px;
}



.task-list.row.g-3.mt-3 {
  display: flex;
  grid-gap: 20px 2%;
  max-width: 100%;
  flex-wrap: wrap;
  padding: 30px;
}

.task-list.row.g-3.mt-3 .col-md-4 {
  max-width: 30%;
}

.note-card__actions-left {
    display: flex;
        gap: 10px;
    justify-content: space-between;
}

.edit-btn {
  padding: 8px 8px;
  background-color: var(--bt-secondary);
  color: var(--text-button);
}

.cancel-btn {
  background-color: var(--bt-secondary);
  color: var(--text-button);
  max-width: 6rem;
}

.note-form__actions {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.second-btn {
    padding: 8px 8px;

  background-color: var(--primary);
  color: var(--text-button);

}

.delete-btn {
    padding: 8px 8px;

  background-color: var(--danger);
  color: var(--text-button);

}
