* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition:
    background-color var(--transition),
    color var(--transition);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}
