.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-4 {
  width: 33.3333%;
}

@media (max-width: 900px) {
  .col-md-4 {
    width: 100%;
  }
}

.py-4 {
  padding: 2rem 0;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.g-3 {
  gap: 1rem;
}
