/* base */
@import "./base/variables.css";
@import "./base/layout.css";
@import "./base/animations.css";

/* notes */
@import "./notes/NoteCard.css";
@import "./notes/NoteForm.css";
@import "./notes/NotesTabs.css";

/* categories */
@import "./categories/CategoryPanel.css";

/* ui */
@import "./ui/Navbar.css";
@import "./ui/DarkModeToggle.css";
